* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

menu{
    height: 500px;
    box-shadow: 0px 3px 6px 1px #ccc;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    color: #fff;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}

section {
    margin-bottom: 20px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    border-radius: 0px 40px;
    align-items: center;
    background-color: #fff;
}

.menu-item img {
    width: 170px;
    height: 170px;
    border-radius: 0px 40px 0px 0px;
}

.menu-item-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}


.menu-item-details h3 {
    margin-top: 10px;
}

.menu-item-details p {
    font-size: 12px;
}

.menu-item-details button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.menu-item-details button:hover {
    background-color: #555;
}

.align-items {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    gap: 40px;
}

@media screen and (max-width: 768px){
    .align-items {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
        gap: 40px;
    }

}

#cart {
    border: 1px solid #ddd;
    padding: 10px;
}

#cart-total {
    margin-top: 10px;
    text-align: right;
}

.header-text {
    text-align: center;
    color: #fff;
    letter-spacing: 7px;
    font-size: 30px;
    margin-bottom: 40px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.tab {
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 13px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.header-image {
background: linear-gradient(to right, #f54297, #dcdf1d);
    height: 500px;
}

.header-image img{
    width: 760px;
    height: 450px;
    position: absolute;
}

.button-div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.order-btn {
    padding: 10px 40px;
    border-radius: 40px;
    margin-bottom: 10px;
    border: none;
}

.image-inner-text {
    position: relative;
    top: 30%;
    width: 53%;
    left: 55px;
    background-color: #dd6d5bd1;
    bottom: 0px;
    padding: 20px 40px;
    color: #fff;
}

.image-inner-text p{
    font-size: 12px;
}
.icon-container {
  display: flex;
  justify-content: space-around; /* Adjust spacing as needed */
  align-items: center;
  font-size: 24px; /* Adjust the icon size */
}

.icon-container i {
  margin: 0 10px; /* Adjust spacing between icons */
}

.circle-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    font-size: 15px;
    margin-top: 6;
}

.icons-container {
            display: flex;
            padding: 10px 0px 10px 50px;
        }
.cart-st {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    margin-top: 6;
}